[submodule "cc/GL/GLX"]
	path = cc/GL/GLX
	url = git@github.com:godotc/GLX.git
[submodule "cc/GL/OpenGL-SuperBible/7th/include/stb"]
	path = cc/GL/OpenGL-SuperBible/7th/include/stb
	url = git@github.com:nothings/stb.git
[submodule "cc/GL/LearnOpenGL/practice-breakout-2dgame/m_log"]
	path = cc/GL/LearnOpenGL/practice-breakout-2dgame/pkgs/m_log
	url = git@github.com:godotc/m_log.git
[submodule "design_parttern/m_log"]
	path = design_parttern/m_log
	url = git@github.com:godotc/m_log.git
[submodule "vm/py/packages/m_log"]
	path = vm/py/packages/m_log
	url = git@github.com:godotc/m_log.git
[submodule "cc/GL/LearnOpenGL/breakout"]
	path = cc/GL/LearnOpenGL/breakout
	url = git@github.com:godotc/breakout.git
