c-cpp/libevent/libevent-*
rust/reservation_exc


build
bin
lib
node_modules

.cache
cache
.idea
.vscode
.DS_store
.yarn
3rdParty


compile_commands.json




a.exe
*.exe
*.out

game/bevy
*.swo
block/femplate
os/nk2023/0x01/os-workbench
