.Header {
	display: flex;
	color: yellow;
	align-self: center;
}



.Content {
	background-color: skyblue;
	top: 0;
}

.homeConent {
	background-color: skyblue;
	top: 0;
	box-align: center;
	align-content: center;
}

#h5 {
	text-align: center;
	align-content: center;
}

.PrimeNFT {
	color: #fff;
}

.NormalNFT {
	color: greenyellow;
}
